.btn {
	display: inline-block;
	border-radius: 0px;
	padding: 0;
	border: 0;
	color: white;
	font-family: var(--display-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight-bold);
	text-align: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	overflow: hidden;
	z-index: 1;
	-webkit-appearance: none !important;

	&:hover, &:focus,
	a:hover, a:focus {
		outline: 0;
		color: white;
		cursor: pointer;
		text-decoration: none;
		background-color: var(--color-primary-dark);
		// box-shadow: inset 0px 0px 0px 3px white;
	}
}
span.btn {
	padding: 0;
	a {
		position: relative;
		display: inline-block;
		padding: 0.8rem 2rem;
		transition: all 0.1s ease-in-out;
		z-index: 1;
		color: white;
		font-weight: var(--font-weight-bold);
		&:hover {
			color: white;
			// &:before {
			// 	left: -10%;
			// 	width: 120%;
			// }
		}
	}
	&:hover {
		border-color: var(--color-text-dark);
		background-color: var(--color-primary-dark);
		// &:before {
		// 	left: -10%;
		// 	width: 120%;
		// }
	}
}

.btn--primary {
	background-color: var(--color-primary);
	color: white;

	&:hover, &:focus {
		color: white;

	}
}
