.columns {
	&--inner {
		@extend .container;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: var(--spacing-l);
		padding-bottom: var(--spacing-l);
		@include mq(medium) {
			flex-direction: row;
			padding-top: var(--spacing-xxl);
			padding-bottom: var(--spacing-xxl);
		}
	}
	&-item {
		display: flex;
		flex-direction: row;
		width: calc(100% / 3);
		padding: 0 var(--spacing);
		&--image {
			height: 50px;
		}
		&--content {
			padding-left: var(--spacing-s);
		}
	}
}
