.cta {
	padding-top: var(--spacing-l) !important;
	padding-bottom: var(--spacing-l) !important;
	@include mq(medium) {
		padding-top: var(--spacing-xxl) !important;
		padding-bottom: var(--spacing-xxl) !important;
	}
	&--inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		@include mq(medium) {
			flex-direction: row;
			text-align: left;
		}
	}
	.btn {
		margin-left: 1rem;
		@include mq($until: medium) {
			margin-top: 2rem;
		}
	}
}
