.cta {
	padding-top: var(--spacing-l) !important;
	padding-bottom: var(--spacing-l) !important;
	@include mq(medium) {
		padding-top: var(--spacing-xxl) !important;
		padding-bottom: var(--spacing-xxl) !important;
	}
	&--inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		@include mq(medium) {
			flex-direction: row;
			text-align: left;
			justify-content: space-evenly;
		}
	}
	.btn {
		margin-left: 1rem;
		@include mq($until: medium) {
			margin-top: 2rem;
		}
	}
	&--padding {
		&__large {
			padding-top: calc(var(--spacing-xl) * 2) !important;
			padding-bottom: calc(var(--spacing-xxl) * 2) !important;
			@include mq(medium) {
				padding-top: calc(var(--spacing-xl) * 4) !important;
				padding-bottom: calc(var(--spacing-xxl) * 4) !important;
			}
			// h2, h3, h4, h5 {

			// 	margin-top: 1rem !important;
			// }
		}
	}
}
