.global-footer {
	margin-top: auto;
	background-color: var(--color-grey-dark);
	padding: var(--spacing-xl) 0;
	color: white;
	text-align: center;

	&__inner {
		@extend .container;
		display: flex;
		text-align: left;
		// justify-content: space-between;
		// align-items: center;
	}

	p, a {
		color: white;
		margin: 0;
		font-size: var(--font-size-small);
	}

	&--company {
		border-right: 1px solid rgba(255, 255, 255, 0.4);
		padding-right: var(--spacing-xl);
		img {
			margin-bottom: var(--spacing-l)
		}
	}
	&--content {
		padding-left: var(--spacing-xl);

		ul {
			p {
				color: var(--color-grey-mid);
				margin-bottom: 0.5rem;
			}
		}

		ul {
			margin: 0 0 2rem 0;
			padding: 0;
		}
	}
}
