// =============================================================================
// Site
// =============================================================================

.global-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 var(--spacing);
	width: 100%;
	max-width: var(--container-width);
	@include mq(medium) {
		padding: 0 var(--spacing-xl);
	}
}

.main {
	@extend .container;
	max-width: var(--content-width);
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-l);
	flex: 1;
}

body {
	@include mq($until: medium) {
		background-image: none !important;
	}

	.bkg--image {
		position: fixed;
		z-index: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: none;
		// width: 100%;
		min-width: calc(100% + 2px);
		min-height: calc(100% + 2px);
		display: block;
		@include mq(medium) {
			display: none;
		}
	}
}
.bkg--white {
	background-color: white;
}
.bkg--grey {
	background-color: var(--color-grey);
}
.bkg-black {
	color: white;
	h1, h2, h3, h4, h5, h6, p {
		color: white;
	}
}
