.scrolling-content {
	display: flex;
	height: 100vh;
	flex-direction: column;
	.location {
		@extend .container;
		margin-top: 10%;
		position: absolute;
		z-index: 0;
		color: white;
		span {
			color: var(--color-primary);
		}
	}
	&--content {
		margin-top: auto;
		width: 100%;
		position: relative;
		> div {
			@extend .container;
			display: flex;
			flex-direction: column;
			margin-top: auto;
			z-index: 2;
			width: 100%;
			padding-top: var(--spacing-l);
			padding-bottom: var(--spacing-l);
			@include mq(medium) {
				flex-direction: row;
			}
		}
	}
	&--text {
		width: 90%;
		@include mq(medium) {
			width: 70%;
		}
		@include mq(large) {
			width: 60%;
		}

	}
	&--button {
		display: flex;
		width: 100%;
		margin-top: 2rem;
		@include mq(medium) {
			width: 30%;
			margin-top: 0;
			justify-content: center;
			align-items: center;
		}
		@include mq(large) {
			width: 40%;
		}
	}
}
