.services {
	display: flex;
	flex-direction: column;
	width: 100%;
	@include mq(medium) {
		flex-direction: row;
	}
	&-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: var(--spacing-l) var(--spacing-xl);
		@include mq(medium) {
			width: 50%;
		}
		p {
			max-width: 400px;
			// margin: 0 auto;
		}

		img {
			max-width: 100%;
			margin-bottom: 1.5rem;
		}
		.btn {
			margin-top: 1.5rem;
		}
	}

}
