.services {
	display: flex;
	flex-direction: column;
	width: 100%;
	@include mq(medium) {
		flex-direction: row;
	}
	&-item {
		width: 50%;
		padding: var(--spacing-l) var(--spacing-xl);
		@include mq(medium) {
			width: 100%;
		}
	}

}
