
:root {
  --swiper-theme-color: red;
}
.swiper {
	width: 100%;
	min-height: 300px;
	height: 100vh;
	overflow: hidden;

	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	/* Fix of Webkit flickering */
	z-index: 1;

	&-slide {
		flex-shrink: 0;
		width: 100%;
		height: 100%;
		position: relative;
		transition-property: transform;

		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		&-image {
			width: 100%;
			display: none;
		}
	}

	&--content {
		@extend .container;
		left: 50%;
    	transform: translateX(-50%);


		position: absolute;
		bottom: var(--spacing-l);
		display: flex;
		flex-direction: column;
		margin-top: auto;
		z-index: 2;
		width: 100%;
		@include mq(medium) {
			flex-direction: row;
			bottom: var(--spacing-xl);
		}
	}
	&--text {
		width: 90%;
		@include mq(medium) {
			width: 70%;
		}
		@include mq(large) {
			width: 60%;
		}
		h1, h2, h3, h4, h5, p, a {
			color: white;
		}
		p {
			margin: 0;
		}
		img {
			margin-bottom: 2rem;
		}
	}
	&--button {
		display: flex;
		width: 100%;
		margin-top: 1rem;
		// margin-bottom: 1rem;
		margin-left: 0;
		@include mq(medium) {
			width: 30%;
			justify-content: center;
			margin-top: auto;
			margin-left: 4rem;
		}
		@include mq(large) {
			width: 40%;
		}

		.btn a {
			white-space: nowrap;
		}
	}
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-button-next, .swiper-button-prev {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;

	transform: translateY(-50%);
	z-index: 10;
	cursor: pointer;

	&:after {
		width: 30px;
		height: 60px;
	}
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
	right: 2rem;
	left: auto;
	&:after {
		content: url("../../src/icons/carousel-next.svg");
	}
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
	left: 2rem;
    &:after {
		content: url("../../src/icons/carousel-prev.svg");
	}
}

.swiper-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0px, 0, 0);
}
.swiper-pointer-events {
	touch-action: pan-y;
	&.swiper-vertical {
		touch-action: pan-x;
	}
}
.swiper-slide-invisible-blank {
	visibility: hidden;
}
/* Auto Height */
.swiper-autoheight {
	&,
	.swiper-slide {
		height: auto;
	}

	.swiper-wrapper {
		align-items: flex-start;
		transition-property: transform, height;
	}
}

.swiper-fade.swiper-free-mode .swiper-slide{transition-timing-function:ease-out}.swiper-fade .swiper-slide{pointer-events:none;transition-property:opacity}.swiper-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-fade .swiper-slide-active,.swiper-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}
