.text-image {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 550px;
	@include mq(large) {
		flex-direction: row;
	}
	&--content {
		@extend .container;
		&-inner {
			width: 100%;
			height: 100%;
			z-index: 1;
			position: relative;
			@include mq(large) {
				width: 50%;
				padding: var(--spacing-l) var(--spacing-l) var(--spacing-l) 0;
			}

			p {
				margin-bottom: 2rem;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			p {
				.btn {
					margin-top: 1rem;
				}
			}
			.btn {
				margin-top: 2rem;
			}
		}
	}
	&--image {
		position: relative;
		width: 100%;
		height: 100%;

		@include mq(large) {
			position: absolute;
			width: 50%;
			height: 100%;
			margin-left: 50%;
			background-size: cover;
			background-position: center left;
			background-repeat: no-repeat;
		}
		img {
			width: 100%;
			@include mq(large) {
				display: none;
				visibility: hidden;
				height: 100%;
				max-width: none;
				margin-left: auto;
			}
		}
	}
	&-list {
		display: flex;
		align-items: flex-start;
		margin-bottom: var(--spacing-l);
		@include mq($until: medium) {
			padding: 0 var(--spacing);
			&:first-of-type {
				margin-top: var(--spacing-l);
			}
		}
		@include mq(large) {
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&--image {
			height: 45px;
			width: 120px;
			@include mq($until: medium) {
				width: 80px;
			}
		}
		&--content {
			padding-left: var(--spacing-s);
			padding-top: 0.25rem;
			width: 100%;
			@include mq(medium) {
				width: auto;
			}
		}
	}
}
.image--left {
	.text-image--image {
		margin-left: 0;
		margin-right: 50%;
	}
	.text-image--content-inner {
		margin-left: auto;
		@include mq(medium) {
			padding: var(--spacing-l) 0 var(--spacing-l) var(--spacing-l);
		}
	}
}
